/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  height: 4.5rem;
  background: #424B54;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 1000;
}

.navbar-left .navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.hamburger-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Fundal întunecat simplu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* doar culoare, fara blur */
  z-index: 90;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #424B54;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 100;
  overflow-y: auto;
}

.menu-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu-links a, .logout-button {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
}

.menu-links a:hover, .logout-button:hover {
  color: #dddddd;
}
